<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>QRNative</string>
	<key>CFBundleIdentifier</key>
	<string>dev.local.QRNative</string>
	<key>CFBundleIconFile</key>
	<string>QRNative</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QRNative</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.3</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>QRNative: Generate QR from Selected Text</string>
			</dict>
			<key>NSMessage</key>
			<string>generateQRCodeFromSelection</string>
			<key>NSPortName</key>
			<string>QRNative</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>public.text</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>QRNative: Recognize QR in Selected Image</string>
			</dict>
			<key>NSMessage</key>
			<string>recognizeQRCodeFromSelection</string>
			<key>NSPortName</key>
			<string>QRNative</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSTIFFPboardType</string>
				<string>NSFilenamesPboardType</string>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
